.weather {
    place-self: center;
    padding: 40px;
    margin: 20px;
    border-radius: 10px;
    background: rgba(27, 21, 203, 0.67);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(4.2px);
    border: 1px solid rgba(27, 21, 203, 0.23);
    display: flex;  
    flex-direction: column;
    align-items: center;

}

.search-bar{
    display: flex;
    align-items: center;
    gap: 12px;

}

.search-bar input {
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
}

.search-bar img {
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
}

.weather-icon {
    width: 150px;
    margin: 30px 0;
}

.temperature {
    font-size: 80px;
    color: #ebfffc;
    line-height: 1;   
}

.location {
    color: #ebfffc;
    font-size: 40px;

}

.weather-data {
    width: 100%;
    margin-top: 40px;
    color: #ebfffc;
    display: flex;
    justify-content: space-between;
}

.weather-data .col {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px;
}

.weather-data .col span {
    display: block;
    font-size: 16px;
}

.weather-data .col img {
    width: 26px;
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {
    .weather {
        padding: 20px;
        margin: 0px;
    }
  }

  @media screen and (max-width: 320px) {
    .weather {
        padding: 10px;
        margin: 0px;
    }
  }
    

  @media screen and (max-width: 320px) {
    .weather {
          width: 51vh;
    height: 85vh;
    }
  }

